
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: aquamarine;
}

.Sottotitolo {
   color: rgb(151, 151, 151); 
}
.The-booleaner {
   color: rgb(32, 124, 230);
}